<html>
    <head>
    </head>
    <body>
        <p id="problemStatement"></p>
        <input type="text" id="answer" ><br>
        <button type="button" onclick='check()'>Submit</button><br>
        <p id="result"></p>
    </body>
    <script>
        var variable = "<%= variable %>";
        var val1 = "<%= operation.val1 %>"
        var val2 = "<%= operation.val2 %>"
        var operator = "<%= operation.operator %>"

        const generateProblemStatement = (val1,val2,operator,variable) => {
            let partOne = `Rahul has ${val1} ${variable}, Abir has ${val2} ${variable}. `;
            let partOnepartTwo = `Rahul has ${val1} ${variable}. ` ;
            let partOnepartThree = `Rahul has ${val1} ${variable} which cost $${val2} each. ` ;
            let partOnepartFour = `${val1} ${variable} cost ${val2}. ` ;
            let partTwo;
            let problemStatement;
            if(operator === "+"){
                partTwo = `How many ${variable} do they have together?`;
                problemStatement = partOne + partTwo;
            }
            else if(operator === "-"){
                partTwo = `How many ${variable} does Abir have if Rahul gives him ${val2} ${variable}?`;
                problemStatement = partOnepartTwo + partTwo;
            }
            else if(operator === "*"){
                partTwo = `How much does ${val1} ${variable} cost?`;
                problemStatement = partOnepartThree + partTwo;
            }
            else if(operator === "/"){
                partTwo = `How much does each ${variable} cost?`;
                problemStatement = partOnepartFour + partTwo;
            }
            return problemStatement;
        }
        var problemStatement = generateProblemStatement(val1,val2,operator,variable);
        answer = eval(val1+operator+val2).toString();//Probably no so very safe
        console.log(answer);
        document.getElementById("problemStatement").innerHTML = problemStatement;
        function check()
        {
            if (answer ===document.getElementById("answer").value)
            {
                document.getElementById("result").innerHTML = "Correct"
            }
            else{                
                document.getElementById("result").innerHTML = "Incorrect"
            }
        }
        
        
    </script>
</html>